# Don't track content of these folders
*.vscode/
*__pycache__/
*~

# added for not mixing our results
*Clips_Database/
*History_Database/
*SAVE_FOLDER/
*reward_model_init_weight/

zz_saving/
training.py

# added for clamp and standardization tries
PolicyThread.py
csvRewardModel.py
